.p-breeds {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.p-breeds .head-page {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.p-breeds .head-page .btn {
  background-color: rgb(143, 211, 232);
  color: black;
  border: none;
}
.p-breeds .spinner-grow {
  background: url("./dog.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
