.p-home {
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
}
.p-home h1,
h4,
.icon {
  font-family: Chelsea_Market;
  color: rgb(63, 174, 207);
}
.p-home h1 {
  font-size: 50px;
}
.p-home .home-img {
  background: url("./dog.webp");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 75vh;
}

.p-home .home-img > h1 {
    font-size: 100px;
    padding-top: 200px;
    padding-left: 200px;
    color: white;
}
.p-home .home-img > h1 > img {
  width: 100px;
  height: 100px;
}

@font-face {
  font-family: Chelsea_Market;
  src: url("./Chelsea_Market/ChelseaMarket-Regular.ttf");
}
